.page-list{
  display: flex;
  justify-content: center;
  margin: 1em;
}

.btn{
  width: 3em;
  text-align: center;
  border: 3px solid #3352F1;
  color: #3352F1;
  font-weight: bolder;
  background-color: #B8DDFA;
  margin: 1em 0.5em;
}

.btn-selected{
  border-color: #B2E7FD;
  background-color: #3352F1;
  color: #B2E7FD;
}

video{
  display: block;
  width: 60%;
  margin: 2em auto 0.5em auto;
}

p{
  margin-top: 0;
  text-align: center;
}